a:hover i {
  color: #fff;
  background-color: #dc3545;
  overflow: hidden;
}
.product{
  text-decoration-line: none;
}
a .product:hover{
border: 1px solid #96ADA5;
}
.Image {
  width: 50% !important;
  margin-left: 25% !important;
}
.btn:hover{
  background-color: #ffffff86;
}
