<section id="gallery">
  <div class="container">
    <div class="row">
      <div class="card my-3  shadow-lg bg-body-tertiary "
      style="border-radius: 15px 15px 15px 15px; height: 400px; background-color: #ffffffd7 !important;">
      <a class="product" [routerLink]="'/Category/'+product.category+'/'+product.id">
        <div class="col-10 m-auto mt-3">
          <img [src]="product.imageCover" [alt]="product.name" class="card-img-top Image" width="50%" height="150px">
        </div>
      </a>
      <div class="card-body">
          <a class="product" [routerLink]="'/Category/'+product.category+'/'+product.id">
            <p style="font-weight:550; font-size: 22px;" class="card-title text-center">{{ product.name }}</p>
          </a>
            <p class="card-text">{{ product.CommonSpecifications.Processor }}|{{ product.CommonSpecifications.Storage }}
            </p>
            <div class="row">
              <div style="font-size: 25px;" class="col-9"><span style="font-size: 25px;">&#36;</span>{{ product.price }}
              </div>
              <div class="col-2 mr-2">
                <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
              </div>

            </div>
            <div class="m-auto my-0 text-center"
              style="border:3px solid black ; font-weight:500; font-size:20px;border-radius:15px;  color:white; width: 100%; background-color:black;">
              <a href="#" class="btn "
                style="font-weight:450; font-size:19px;color: white; background-color: black;">Add To Cart</a>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
