a:hover i {
  color: #fff; /* Set the text color to white when hovering */
  background-color: #dc3545; /* Set the background color to red when hovering (if applicable) */
  overflow: hidden;
}
.product{
  text-decoration-line: none;
}
a .product:hover{
border: 1px solid #96ADA5;
/* box-shadow: inset 2px 2px #96ADA5; */


}
