<app-carousel [indecators]="false" [autoSlide]="true" [intervalInSecands]="5" [carouselImges]="images"></app-carousel>
<!-- <app-slider></app-slider> -->
<div class="container home m-auto">
  <div class="my-5">
    <app-categories [categories]="allCategories"></app-categories>
  </div>
  <div class="my-5">
    <h2 class="text-center my-5">Smart Phones</h2>
    <div class="row">
      @for (pro of mobileCatg4; track $index) {
        <div class="col-12 col-md-6 col-lg-3 product">
          <app-product [product]="pro"></app-product>
        </div>
      }
    </div>
  </div>
  <div class="my-5">
    <h2 class="text-center my-5">Smart Watches</h2>
    <div class="row">
      @for (pro of smartWatch4; track $index) {
        <div class="col-12 col-md-6 col-lg-3 product">
          <app-product [product]="pro"></app-product>
        </div>
      }
    </div>
  </div>
  <div class="my-5">
    <h2 class="text-center my-5">Laptops</h2>
    <div class="row">
      @for (pro of laptops4; track $index) {
        <div class="col-12 col-md-6 col-lg-3 product">
          <app-product [product]="pro"></app-product>
        </div>
      }
    </div>
  </div>
</div>
