<div class="header">
  <div class="first-header-container">
    <div routerLink="Home" class="logo-container">
      <img src="assets/images/logo-black.svg" alt="logo" class="logo">
    </div>
    <div class="search-container">
      <input type="text" class="search-input" (input)="gitNames(searchInput.value)" (keyup.enter)="onSearchEnter(searchInput.value)" #searchInput placeholder="Search for anything..." [(ngModel)]="searchkeyword">
      <a [routerLink]="['/Search',searchkeyword]"><img src="assets/images/search.svg" alt="search"
          class="search-icon"></a>
    </div>


    <div class="user-container">
      <a routerLink="Cart/1" class="cart-anchor">
        <div class="cart">
          <span class="cart-count">0</span>
          <img src="assets/images/cart.png" alt="cart" class="cart-icon">
          <span class="cart-text">Cart</span>
        </div>
      </a>
      <div class="profile" (click)="toggleDropdown()">
        <img src="assets/images/profile.png" alt="profile" class="profile-icon">
        <span class="signin-text">Sign In</span>

      </div>
      <div class="dropdown">
 
        <div class="dropdown-content" *ngIf="isDropdownOpen">
          <a> <i class="fa-regular fa-user"></i>Profile</a>
          <a><i class="fa-regular fa-heart"></i> Wishlist</a>
          <a> <i class="fa-regular fa-credit-card"></i> Orders</a>
          <a routerLink="register"><i class="fa-solid fa-power-off"></i> Logout</a>
        </div>
      </div>
    </div>
  </div>
  <div class="dropdown">

    <div class="dropdown-content" *ngIf="isDropdownOpen">
      <a href="#">My Profile</a>
      <a href="#">Settings</a>
      <a href="#">Logout</a>
    </div>
  </div>

  <div class="second-header-container">

    <div class="categories-container">
      <div class="category-icon">


        <img src="assets/images/categories.svg" alt="category" class="category-icon">
      </div>
      <span class="category-text" (click)="toggleCategoriesDropdown()">Categories</span>
      <div class="category-list" *ngIf="categoriesDropdown">
        @for(category of categories; track category.id){
        <div class="category-item">
          <a [routerLink]="['/category', category.id]">{{category.name}}</a>
        </div>
        }
      </div>
    </div>


  </div>
</div>
<!-- <h1>{{names|json}}</h1> -->