<div class="main-container">
    <div class="login-container">

        <div class="logo-container">
            <a routerLink="/Home"> <img src="assets/images/logo-black.svg" alt="logo" class="logo"> </a>
        </div>
        <div class="login-form-container">
            <div class="email-container">
                <!-- <input type="text" class="email-input" placeholder="Email" [(ngModel)]="email"> -->
                <input type="text" class="email-input" placeholder="Email">
            </div>

            <div class="password-container">
                <!-- <input type="password" class="password-input" placeholder="Password" [(ngModel)]="password"> -->
                <input type="password" class="password-input" placeholder="Password">
            </div>

            <div class="login-btn-container">
                <button class="login-btn">Login</button>
            </div>

        </div>

    </div>


    <div class="signup-container">
        <img src="" alt="">

        <div class="welcome">
            <h1>Welcome!</h1>
        </div>

        <div class="q-text">
            <p>Don't have an account?</p>
        </div>

        <div routerLink="/register" class="signup-btn">
            <button class="signup-btn">Sign Up</button>
        </div>

    </div>
</div>