.row {
  background-color: #000000;
  /* background: linear-gradient(to bottom, #01001F, #640958); */
}
.slider{
  /* background-image: linear-gradient( #ffffff, rgb(0, 0, 0) ); */
  height:150px;
  margin-bottom: 2%;
}
.container{
  background-color: #F7D14B !important;
}
